/*Cookie Consent Begin*/
#cookieConsent {
    background-color: rgba(20,20,20,0.8);
    min-height: 26px;
    font-size: 14px;
    color: #ccc;
    line-height: 26px;
    padding: 8px 0 8px 30px;
    font-family: "Trebuchet MS",Helvetica,sans-serif;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    display: none;
    z-index: 9999;
}
#cookieConsent a {
    color: #4B8EE7;
    text-decoration: none;
}
#closeCookieConsent {
    float: right;
    display: inline-block;
    cursor: pointer;
    height: 20px;
    width: 20px;
    margin: -15px 0 0 0;
    font-weight: bold;
}
#closeCookieConsent:hover {
    color: #FFF;
}
#cookieConsent a.cookieConsentOK {
    color: white;
    border: none;
    padding: 3px;
    padding-left: 3px;
    padding-right: 3px;
    transition-duration: 0.4s;
    background-color: rgb(30, 30, 30);
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    margin-right: 20px;
    float: right;
}
    #cookieConsent a.cookieConsentOK:hover
    {
        background-color: rgb(40, 40, 40);
        box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
    }
        
    .#cookieConsent a.cookieConsentOK span {
        cursor: pointer;
        display: inline-block;
        position: relative;
        transition: 0.5s;
    }
    
    .#cookieConsent a.cookieConsentOK span:after {
        content: '\00bb';
        position: absolute;
        opacity: 0;
        top: 0;
        right: -20px;
        transition: 0.5s;
    }
    
    .#cookieConsent a.cookieConsentOK:hover span {
        padding-right: 25px;
    }
    
    .#cookieConsent a.cookieConsentOK:hover span:after {
        opacity: 1;
        right: 0;
    }
/*Cookie Consent End*/